#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar>.toolbar-items {
  opacity: 0;
  pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

.tab {
  margin-left: 1px;
  margin-right: 1px;
}

#navigator-toolbox {
  font-family: sans-serif !important;
}

:root {
  --toolbarbutton-inner-padding: 0px !important;
  --tab-min-height: 0px !important;
}

.titlebar-button {
  padding-block: 0px !important;
}

#urlbar-container,
#search-container {
  padding-block: 0px !important;
}

#titlebar {
  appearance: none !important;
}

:root[sizemode="maximized"] #navigator-toolbox {
  margin-top: 0px;
}

#tabbrowser-tabs .tab-text {
  font-size: 8pt !important;
}

#urlbar {
  font-size: 8pt !important;
}
