:root {
  --tab-size: 18px;
  --throbber-size: 14px;
  --favicon-size: 14px;
  --macblue: 0, 64, 221;
  --bloodred: 102, 0, 0;
  --multiselected-color: Highlight;
  --subpanel-area-size: 0px !important;
  --subpanel-content-size: 0px !important;
}

:root.mutiple-highlighted tab-item.highlighted tab-item-substance::after {
  background: var(--multiselected-color);
  bottom: 0;
  content: "";
  display: block;
  inset-inline-start: 0;
  inset-inline-end: 0;
  opacity: var(--multiselected-color-opacity);
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 10;
}

#background {
  background-color: black;
}

.newtab-button-box {
  display: none;
}

.pinned {
  padding: 0;
}

#pinned-tabs-container-resizer {
  display: none;
}

tab-twisty {
  visibility: hidden;
  margin-left: 1px;
}

tab-twisty::before {
  vertical-align: middle;
}

#tabbar:hover tab-twisty {
  visibility: visible;
}

tab-item {
  --indent-line-color: #333;
  --indent-line-color-active: silver;
  --indent-line-width: 1px;
  --indent-line-width-active: 1px;
  --indent-line-opacity: 0;
}

tab-item .background {
  border-radius: 4px;
}

tab-item.pinned .background {
  border-radius: 0px;
  background-color: rgba(var(--macblue), 0.5);
  filter: invert(0.1);
}

#tabbar:hover tab-item.pinned .background {
  border-left: thick ridge rgb(var(--macblue));
  box-shadow: inset 0 0 4px rgb(var(--macblue));
}

tab-item.pinned tab-closebox {
  display: initial;
}

tab-item.pinned:hover tab-closebox {
  visibility: visible;
}

tab-item.active .background {
  background-color: rgb(var(--macblue)) !important;
  box-shadow: inset 0 0 4px darkblue;
}

#tabbar:hover tab-item.active .background {
  border-left: ridge silver !important;
  box-shadow: inset 0 0 4px silver;
}

tab-item.discarded {
  opacity: 1;
  color: silver;
}

tab-favicon {
  opacity: 0.75;
  margin-inline-end: 2px;
}

#tabbar:hover tab-favicon {
  opacity: 1;
}

tab-item:hover tab-favicon {
  filter: drop-shadow(0 0 1px);
}

.label-content {
  line-height: var(--tab-size);
}

tab-item.sound-playing .background {
  background-color: rgb(var(--bloodred));
  box-shadow: inset 0 0 4px red !important;
}

#tabbar:hover tab-item.sound-playing .background {
  border-left: solid red !important;
  box-shadow: inset 0 0 8px red !important;
  filter: drop-shadow(0 0 4px red) !important;
}

tab-item.muted .background {
  background-color: rgba(var(--bloodred), 0.5);
  box-shadow: inset 0 0 4px rgb(var(--bloodred)) !important;
}

#tabbar:hover tab-item.muted .background {
  box-shadow: inset 0 0 4px red !important;
  filter: drop-shadow(0 0 4px red) !important;
}

tab-item:hover .background {
  box-shadow: inset 0 0 4px silver !important;
}

tab-item:hover > span.extra-items-container::before {
  z-index: 99999;
  content: "";
  width: 100%;
  margin: 0 2px;
  border-top: 1px solid var(--indent-line-color-active);
  transform: translateY(calc(var(--tab-size) / 2));
}

tab-item .label {
  font: 11px 'Lucida Grande', sans-serif;
  font-weight: lighter !important;
  margin-inline-start: 2px;
}

tab-item.unread .label {
  color: #fdb !important;
}

tab-closebox {
  visibility: hidden;
}

tab-item:hover tab-closebox {
  visibility: visible;
}

#subpanel-container {
  display: none !important;
}