:root {
  --macblue: 0, 64, 221;
}

.tab {
  height: 18px;
}

.label {
  font-family: 'Lucida Grande';
  padding: 0;
}

.newtab-button-box {
  display: none;
}

tab-item.active .background {
  background-color: rgb(var(--macblue));
}

tab-item.pinned .background {
  background-color: rgba(var(--macblue), 0.5);
  filter: invert(0.2);
}

tab-item-substance {
  background-color: #111;
  border: none;
  padding: 0;
}

tab-item-substance:hover {
  background-color: rgb(var(--macblue));
}

tab-item.discarded tab-favicon {
  filter: brightness(0.5);
}
