:root {
    --color-accent-primary: light-dark(oklch(55% 0.24 260), oklch(66% 0.07 25)) !important;

    --button-background-color-primary: light-dark(oklch(55% 0.24 260), oklch(75% 0.07 25)) !important;
    --button-background-color-hover: light-dark(oklch(75% 0.24 260), oklch(75% 0.14 25)) !important;
    --button-background-color-primary-hover: var(--button-background-color-hover) !important;
    --button-background-color-active: light-dark(oklch(75% 0.40 260), oklch(55% 0.14 25)) !important;
    --button-background-color-primary-active: var(--button-background-color-active) !important;
}

button.lists-add-button {
    background-color: light-dark(oklch(55% 0.24 260), oklch(75% 0.07 25)) !important;
}
